.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 2000;
    width: 100%;
    height: 5px;
    background: #20a8d8;
}

.content {
    padding-top: 0 !important;
}

@media (max-width: 992px) {
    .app-cont {
        padding-top: 1vh !important;
        overflow-y: auto;
    }
}
/* max-height: 754.98px */
@media (min-width: 992px) {
    .app-cont {
        padding-top: 10vh !important;
        overflow-y: auto;
    }
}
@media (min-width: 1440px) {
    .app-cont {
        padding-top: 20vh !important;
        overflow-y: auto;
    }
}

div.card-body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif !important;
    font-weight: 600 !important;
    font-size: .8rem !important;
}

.switch-field {
    display: flex;
    x-margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    x-line-height: 1;
    text-align: center;
    padding-top: 10px;
    margin-right: -1px;
    x-border: 1px solid rgba(0, 0, 0, 0.2);
    x-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    x-transition: all 0.5s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 4px solid #e4e4e4;
    position: relative;
    width: 50%;
    height: 50px;
}

.switch-field.mini label {
    x-padding: 4px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 35px;
    margin: 0 2px;
    border-radius: 7px !important;
    border: 1px solid #e4e4e4 !important;
    line-height: 1.1 !important;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #fff;
    color: #5118df;
    box-shadow: none;
}

.switch-field.mini input:checked + label {
    background-color: #e4e4e4;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 7px 0 0 7px;
}

.switch-field label:last-of-type {
    border-radius: 0 7px 7px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/******/
fieldset span.switch-labels:before {
    content: attr(data-on);
    left: 0;
    position: absolute;
    color: #b7b7b7;
}
fieldset span.switch-labels:after {
    content: attr(data-off);
    position: absolute;
    right: 0;
    color: #fff;
}



.switch {
    position: relative;
    margin: 6px auto;
    height: 49px;
    x-width: 80%;
    @include border-radius(7px);
    @include background-clip(padding-box);
    background-color: #e4e4e4;
    @include background-image(linear-gradient(bottom, rgba(255, 255, 255, .07) 0%, rgba(0, 0, 0, .07) 100%));
    border-radius: 7px;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 50%;
    line-height: 47px;
    letter-spacing: .05em;
    color: #1D1D1D;
    text-align: center;
    cursor: pointer;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    color: #5118df;
    -webkit-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 50%;
    border-radius: 7px;
}

.switch-input:checked + .switch-label-off ~ .switch-selection {
    border-radius: 7px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    width: 49%;
    height: 41px;
    @include border-radius(7px);
    @include background-clip(padding-box);
    background-color: #fff;
    color: #000;
    -webkit-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.list>li, .list>li .list>li {
    margin-top: 15px;
    margin-bottom: 16px;
}

button.btn.btn-success.float-right {
    background: linear-gradient(104deg, #38C9AB, #218BD2);
    width: 155px;
    height: 54px;
    text-align: left;
    border: 0;
    border-radius: 8px;
}
button.btn.btn-success.float-right:after {
    content: "\2192";
    right: 18px;
    position: absolute;
}

.close-modal {
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
    z-index: 2;
    outline: none;
}

.close-modal:hover {
    color: #20A8D8;
}

a[data-link="arweb-user"] {
    cursor: pointer;
}

.arweb-phone-input {
    color:#37C7AB;
    border-radius:7px;
    padding-left:7rem;
    height: 50px;
}
@media (max-width: 522px) {
    .arweb-phone-input {
        padding-left: 5px !important;
    }
}

.arweb-phone-label {
    top: 4px;
    color: #7a7a7a;
}
@media (max-width: 522px) {
    .arweb-phone-label {
        display: none !important;
    }
}

